# Discussion 11: SQL

In [ ]:
import gzip
import sqlite3
import requests
from pathlib import Path
import time 
import math
import sqlalchemy

In [ ]:
# Run this cell to set up SQL.
%load_ext sql

In [ ]:
from pathlib import Path
import shutil
import pathlib

# Do not modify following lines.

# These lines specify the location of our database file
tmpdb = Path('.') / 'test_database'

# Specify the database connection path (in this case, a sqlite database in a file)
sqlite_conn = 'sqlite:///' + str(tmpdb)

# Create an SQLAlchemy engine to connect to the database
engine = sqlalchemy.create_engine(sqlite_conn)

In [ ]:
# Plug the SQLAlchemy engine into line magic to establish a connection
%sql engine

## SQL Syntax
### Q1 
Create our `setup` table and save it into our database to query.

In [ ]:
import pandas as pd

data = {'j_name': ['Llama Technician','Software Engineer','Open Source Maintainer','Big Data Engineer', 'Data Analyst', 'Analyst Intern'],
        'c_name': ["Google","Salesforce", "Github","Microsoft","Startup","Google"],
        'c_location' : ["MOUNTAIN VIEW", "SF", "SF", "REDMOND", "BERKELEY","SF"],
        'm_name': ["EECS","EECS","Computer Science", "Data Science", "Data Science","Philosophy"]
        }

survey = pd.DataFrame(data, columns = list(data.keys()))
survey

In [ ]:
survey.to_sql('survey', engine, if_exists='replace', index = False)

#### 1a
Write a SQL query that selects all data science major graduates that got jobs in Berkeley.
The result generated by your query should include all 4 columns.

In [ ]:
%%sql 
-- write your query here --
...

#### 1b
Write a SQL query to find the top 5 popular companies that data science graduates will
work at, from most popular to 5th most popular.

In [ ]:
%%sql 
-- write your query here --
...

### Q2
Setup

In [ ]:
homes_data = {'home_id': [1,2,3,4],
        'city': ["Berkeley","San Jose","Berkeley","Palo Alto"],
        'bedrooms': [2,1,5,3],
        'bathrooms': [2,2,1,1],
        'area': [500,750,1000,250] 
        }

homes = pd.DataFrame(homes_data, columns = list(homes_data.keys()))

homes.to_sql('Homes', engine, if_exists='replace', index = False)

transactions_data = {'home_id': [1,2,3,4],
        'buyer_id': [5,6,7,8],
        'seller_id': [8,7,6,5],
        'transaction_data': ['1/12/2001','4/14/2001','8/11/2001','12/21/2001'],
        'sale_price': [1000,500,750,500]
        }

transactions = pd.DataFrame(transactions_data, columns = list(transactions_data.keys()))

transactions.to_sql('Transactions', engine, if_exists='replace', index = False)


buyers_data = {'buyer_id': [5,6,7,8],
        'name': ["Bella","Kanu","Rahul","Minh"],
        }

buyers = pd.DataFrame(buyers_data, columns = list(buyers_data.keys()))

buyers.to_sql('Buyers', engine, if_exists='replace', index = False)

seller_data = {'seller_id': [8,7,6,5],
        'name': ["Minh","Rahul","Kanu","Bella"],
        }

seller = pd.DataFrame(seller_data, columns = list(seller_data.keys()))

seller.to_sql('Seller', engine, if_exists='replace', index = False)

In [ ]:
homes

In [ ]:
transactions

In [ ]:
buyers

In [ ]:
seller



Consider the following real estate schema (underlined column names have unique values and no duplicates):

<code>
Homes(<u>home_id int</u>, city text, bedrooms int, bathrooms int,
area int)
Transactions(<u>home_id int, buyer_id int, seller_id int, transaction_date date</u>, sale_price int)
Buyers(<u>buyer_id int</u>, name text)
Sellers(<u>seller_id int</u>, name text)
</code>
<br>

Fill in the blanks in the SQL query to find the id and selling price for each home in Berkeley.  If the home has not been sold yet, **the price should be NULL**.

In [ ]:
%%sql 
-- fill in the blanks --
SELECT _______________ 
FROM _________
_________ JOIN _________
ON _______________
WHERE _______________;

## More SQL Queries
### Q3

Examine this schema for these two tables:

    CREATE TABLE cat_ownders (
        id integer, 
        name text, 
        age integer,
        PRIMARY KEY (id)
    ); 

    CREATE TABLE cats (
        id integer
        owner_id integer, 
        name text, 
        breed text, 
        age integer, 
        PRIMARY KEY (id),
        FOREIGN KEY (owner_id) REFERENCES cat_owners
    );

In [ ]:
cat_owners_data = {'id': [10,11,12],
        'name': ["Alice","Bob","Candice"],
        }

cat_owners = pd.DataFrame(cat_owners_data, columns = list(cat_owners_data.keys()))

cat_owners.to_sql('cat_owners', engine, if_exists='replace', index = False)

cats_data = {'id': [51,52,53,54,55],
        'owner_id': ["Alice","Alice","Bob","Bob","Candice"],
        'name': ["Mittens","Whisker","Felix","Lucky","Fluffy"],
        'breed' : ["Tabby","Black","Orange","Tabby","Black"],
        'age': [1,2,1,2,1]
        }

cats = pd.DataFrame(cats_data, columns = list(cats_data.keys()))

cats.to_sql('cats', engine, if_exists='replace', index = False)

# schema5 = '''
#             CREATE TABLE IF NOT EXISTS 
#             cat_owners(id int, 
#                     name text, 
#                     age int, 
#                     PRIMARY KEY(id));
#             '''
# schema6 = '''
#             CREATE TABLE IF NOT EXISTS 
#             cats(id int, 
#                 owner_id int, 
#                 name text, 
#                 breed text, 
#                 age int, 
#                 PRIMARY KEY(id), 
#                 FOREIGN KEY(owner_id) REFERENCES owners);
#             '''
# c.execute(schema5)
# conn.commit()
# c.execute(schema6)
# conn.commit()

In [ ]:
cat_owners

In [ ]:
cats

#### 3a
Write a SQL query to create an almost identical table as cats, except with an additional
column ’Nickname’ that has the value 'Kitten' for cats less than or equal to the age of 1,
'Catto' for cats between 1 and 15, and 'Wise One' for cats older than or equal to 15

In [ ]:
%%sql 
-- write your query here --
...

#### 3b
Write a SQL query to figure out the number of cats, over the age of 10, of each breed of cat.

In [ ]:
%%sql 
-- write your query here --
...

#### 3c 
Write a SQL query to figure out the number of cats each owner owns for cat owners
whose id is greater than 10

In [ ]:
%%sql 
-- write your query here --
...

#### 3d
Write a SQL query to figure out the owner_id/owner of the one cat owner who owns the
most cats

In [ ]:
%%sql 
-- write your query here --
...

#### 3e 
Write a SQL query to figure out the names of all of the cat cat owners who have a cat
named Apricot.

In [ ]:
%%sql 
-- write your query here --
...

#### 3f
It is possible to have a cat with an owner not in the cat owners table? Explain your answer.

_Write your answer in this cell_

#### 3g
Write a SQL query to get a random sample of 5 random Siamese Cat (a cat breed) with a
name that starts with the letter A.

In [ ]:
%%sql 
-- write your query here --
...

#### 3h (Challenge) 
Write a SQL query to select all rows from the cats table that have cats of
the top 5 most popular cat breeds.

In [ ]:
%%sql 
-- write your query here --
...

## Joins 

![](joins.png)

Note: You do not need the JOIN keyword to join SQL tables. The following are equivalent:

    SELECT column1, column2
    FROM table1, table2
    WHERE table1.id = table2.id;
    
    SELECT column1, column2
    FROM table1 JOIN table2 
    ON table1.id = table2.id;

### Q4 (Bonus) 

(Bonus) In the figure above, assume `table1` has $m$ records, while `table2` has $n$ records.
Describe which records are returned from each type of join. What is the maximum possible
number of records returned in each join? Consider the cases where on the joined field, (1) both
tables have unique values; and (2) both tables have duplicated values.

_Write your answer in this cell_