# Discussion 3: Pandas Practice II

This discussion continues from last week and is all about practicing using `pandas`, and testing your knowledge about its various functionalities to accomplish small tasks.

We will be using the `elections` dataset from lecture.

In [1]:
# Import packages
import pandas as pd
import numpy as np

## Dataset

![elections_head.png](elections_head.png)

In [2]:
elections = pd.read_csv("elections.csv")
elections.head(10)

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
5,1832,Henry Clay,National Republican,484205,loss,37.603628
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583
7,1836,Hugh Lawson White,Whig,146109,loss,10.005985
8,1836,Martin Van Buren,Democratic,763291,win,52.272472
9,1836,William Henry Harrison,Whig,550816,loss,37.721543

## Problem 1

Which of the following lines of code returns a `Series` with the mean vote percentage for each political party, for all years given, sorted in **decreasing** order? Choose all that apply.

    A. elections.groupby('Party')['%'].agg('mean').sort_values()
    
    B. elections.groupby('Party')['%'].agg('mean').sort_values(ascending = False)
    
    C. elections.groupby('Party')['%'].mean().sort_values()
    
    D. elections.groupby('Party')['%'].mean().sort_values(ascending = False)

*Answer*: B, D

In [3]:
# A: no!, it's in increasing order
elections.groupby('Party')['%'].agg('mean').sort_values()

Party
Natural Law               0.118219
Constitution              0.139860
States' Rights            0.174883
Taxpayers                 0.192045
New Alliance              0.237804
Communist                 0.261069
Citizens                  0.270182
Green                     0.767151
Libertarian               0.779341
National Democratic       0.969566
Farmer–Labor              0.995804
Union Labor               1.288861
Anti-Monopoly             1.335838
Prohibition               1.411952
Union                     1.960733
Socialist                 2.236185
Dixiecrat                 2.412304
Populist                  3.197506
Greenback                 3.352344
Reform                    4.417831
Independent               4.663857
American Independent      5.067461
Free Soil                 7.534379
Anti-Masonic              7.821583
American                 10.874432
Progressive              11.688672
Constitutional Union     12.639283
Southern Democratic      18.138998
Northern Democratic      29.522311
Whig                     40.232518
National Republican      40.699851
Liberal Republican       44.071406
Democratic               47.484297
Republican               47.953932
Democratic-Republican    50.000000
National Union           54.951512
Name: %, dtype: float64

In [4]:
# B: yes!
elections.groupby('Party')['%'].agg('mean').sort_values(ascending = False)

Party
National Union           54.951512
Democratic-Republican    50.000000
Republican               47.953932
Democratic               47.484297
Liberal Republican       44.071406
National Republican      40.699851
Whig                     40.232518
Northern Democratic      29.522311
Southern Democratic      18.138998
Constitutional Union     12.639283
Progressive              11.688672
American                 10.874432
Anti-Masonic              7.821583
Free Soil                 7.534379
American Independent      5.067461
Independent               4.663857
Reform                    4.417831
Greenback                 3.352344
Populist                  3.197506
Dixiecrat                 2.412304
Socialist                 2.236185
Union                     1.960733
Prohibition               1.411952
Anti-Monopoly             1.335838
Union Labor               1.288861
Farmer–Labor              0.995804
National Democratic       0.969566
Libertarian               0.779341
Green                     0.767151
Citizens                  0.270182
Communist                 0.261069
New Alliance              0.237804
Taxpayers                 0.192045
States' Rights            0.174883
Constitution              0.139860
Natural Law               0.118219
Name: %, dtype: float64

In [5]:
# C: no!, in increasing order once again
elections.groupby('Party')['%'].mean().sort_values()

Party
Natural Law               0.118219
Constitution              0.139860
States' Rights            0.174883
Taxpayers                 0.192045
New Alliance              0.237804
Communist                 0.261069
Citizens                  0.270182
Green                     0.767151
Libertarian               0.779341
National Democratic       0.969566
Farmer–Labor              0.995804
Union Labor               1.288861
Anti-Monopoly             1.335838
Prohibition               1.411952
Union                     1.960733
Socialist                 2.236185
Dixiecrat                 2.412304
Populist                  3.197506
Greenback                 3.352344
Reform                    4.417831
Independent               4.663857
American Independent      5.067461
Free Soil                 7.534379
Anti-Masonic              7.821583
American                 10.874432
Progressive              11.688672
Constitutional Union     12.639283
Southern Democratic      18.138998
Northern Democratic      29.522311
Whig                     40.232518
National Republican      40.699851
Liberal Republican       44.071406
Democratic               47.484297
Republican               47.953932
Democratic-Republican    50.000000
National Union           54.951512
Name: %, dtype: float64

In [6]:
# D: yes!
elections.groupby('Party')['%'].mean().sort_values(ascending = False)

Party
National Union           54.951512
Democratic-Republican    50.000000
Republican               47.953932
Democratic               47.484297
Liberal Republican       44.071406
National Republican      40.699851
Whig                     40.232518
Northern Democratic      29.522311
Southern Democratic      18.138998
Constitutional Union     12.639283
Progressive              11.688672
American                 10.874432
Anti-Masonic              7.821583
Free Soil                 7.534379
American Independent      5.067461
Independent               4.663857
Reform                    4.417831
Greenback                 3.352344
Populist                  3.197506
Dixiecrat                 2.412304
Socialist                 2.236185
Union                     1.960733
Prohibition               1.411952
Anti-Monopoly             1.335838
Union Labor               1.288861
Farmer–Labor              0.995804
National Democratic       0.969566
Libertarian               0.779341
Green                     0.767151
Citizens                  0.270182
Communist                 0.261069
New Alliance              0.237804
Taxpayers                 0.192045
States' Rights            0.174883
Constitution              0.139860
Natural Law               0.118219
Name: %, dtype: float64

## Problem 2

Write a line of `pandas` code that returns a `Series` with the year as the index, and the total number of votes that were cast across all parties for that year. What would you change in your code so the output is a `DataFrame` object? 

*Answer*

In [7]:
# Solution 1
elections.groupby('Year')['Popular vote'].agg(sum)

Year
1824       264413
1828      1143703
1832      1287655
1836      1460216
1840      2404437
1844      2639574
1848      2875196
1852      3148095
1856      4050538
1860      4675115
1864      4024124
1868      5722534
1872      6432200
1876      8322688
1880      9206962
1884     10053163
1888     11374542
1892     12041913
1896     13887147
1900     13810660
1904     13490419
1908     14762253
1912     15014954
1916     18487422
1920     26651632
1924     28941737
1928     36710065
1932     39570723
1936     45512479
1940     49778288
1944     47630845
1948     48747174
1952     61591365
1956     61715137
1960     68329141
1964     70302795
1968     72956740
1972     77442800
1976     81222077
1980     86257375
1984     92260935
1988     91344642
1992    104154416
1996     96152270
2000    105172180
2004    122194959
2008    131071135
2012    128594897
2016    135720167
2020    157755837
Name: Popular vote, dtype: int64

In [8]:
# Solution 2
elections.groupby('Year')['Popular vote']

Year
1824       264413
1828      1143703
1832      1287655
1836      1460216
1840      2404437
1844      2639574
1848      2875196
1852      3148095
1856      4050538
1860      4675115
1864      4024124
1868      5722534
1872      6432200
1876      8322688
1880      9206962
1884     10053163
1888     11374542
1892     12041913
1896     13887147
1900     13810660
1904     13490419
1908     14762253
1912     15014954
1916     18487422
1920     26651632
1924     28941737
1928     36710065
1932     39570723
1936     45512479
1940     49778288
1944     47630845
1948     48747174
1952     61591365
1956     61715137
1960     68329141
1964     70302795
1968     72956740
1972     77442800
1976     81222077
1980     86257375
1984     92260935
1988     91344642
1992    104154416
1996     96152270
2000    105172180
2004    122194959
2008    131071135
2012    128594897
2016    135720167
2020    157755837
Name: Popular vote, dtype: int64

In [9]:
# Solution 3
elections.groupby('Year').sum()['Popular vote']

Year
1824       264413
1828      1143703
1832      1287655
1836      1460216
1840      2404437
1844      2639574
1848      2875196
1852      3148095
1856      4050538
1860      4675115
1864      4024124
1868      5722534
1872      6432200
1876      8322688
1880      9206962
1884     10053163
1888     11374542
1892     12041913
1896     13887147
1900     13810660
1904     13490419
1908     14762253
1912     15014954
1916     18487422
1920     26651632
1924     28941737
1928     36710065
1932     39570723
1936     45512479
1940     49778288
1944     47630845
1948     48747174
1952     61591365
1956     61715137
1960     68329141
1964     70302795
1968     72956740
1972     77442800
1976     81222077
1980     86257375
1984     92260935
1988     91344642
1992    104154416
1996     96152270
2000    105172180
2004    122194959
2008    131071135
2012    128594897
2016    135720167
2020    157755837
Name: Popular vote, dtype: int64

In [10]:
# to change the output to a DataFrame...
# Solution 1: add .to_frame() to the end of the above calls
# Solution 2: surround the above calls in a pd.DataFrame(series_object) call
# Solution 3: double brackets 
elections.groupby("Year")[["Popular vote"]].agg(sum)

      Popular vote
Year
1824        264413
1828       1143703
1832       1287655
1836       1460216
1840       2404437
1844       2639574
1848       2875196
1852       3148095
1856       4050538
1860       4675115
1864       4024124
1868       5722534
1872       6432200
1876       8322688
1880       9206962
1884      10053163
1888      11374542
1892      12041913
1896      13887147
1900      13810660
1904      13490419
1908      14762253
1912      15014954
1916      18487422
1920      26651632
1924      28941737
1928      36710065
1932      39570723
1936      45512479
1940      49778288
1944      47630845
1948      48747174
1952      61591365
1956      61715137
1960      68329141
1964      70302795
1968      72956740
1972      77442800
1976      81222077
1980      86257375
1984      92260935
1988      91344642
1992     104154416
1996      96152270
2000     105172180
2004     122194959
2008     131071135
2012     128594897
2016     135720167
2020     157755837

<span style="color:blue">
When going over programming questions in person, it helps to visualize the <code>DataFrame</code>s and <code>DataFrameGroupBy</code> objects on the board. How <code>agg</code> functions work is typically an obscure topic and difficult to grasp at first. A tip is to walk through the function call on a group. Also, the limitation that the function must take a <code>Series</code> and return a single value is an important fact to reiterate when discussing <code>.agg()</code>. Make sure to highlight the difference between the <code>Series</code> and <code>DataFrame</code> output types.
</span>

## Problem 3

Write a line of `pandas` code that returns a `Series` whose index are the years and whose values are the number of candidates that participated in those years' elections.

*Answer:*

In [11]:
elections.groupby('Year').size()

Year
1824    2
1828    2
1832    3
1836    3
1840    2
1844    2
1848    3
1852    3
1856    3
1860    4
1864    2
1868    2
1872    2
1876    2
1880    3
1884    4
1888    4
1892    4
1896    4
1900    3
1904    5
1908    4
1912    5
1916    4
1920    5
1924    3
1928    3
1932    4
1936    4
1940    3
1944    2
1948    6
1952    3
1956    3
1960    2
1964    2
1968    3
1972    3
1976    6
1980    5
1984    3
1988    4
1992    5
1996    7
2000    5
2004    6
2008    6
2012    4
2016    6
2020    4
dtype: int64

<span style="color:blue">
Staff Notes: We often get questions about using <code>.count()</code> instead of <code>.size()</code>. <code>.size()</code> includes rows with <code>NaN</code> values in the aggregation and returns a <code>Series</code> rather than a <code>DataFrame</code>, as the <code>size()</code> is the same for all columns. On the other hand, <code>count()</code> is called per column, as results can differ depending on the number of <code>NaNs</code>/missing values, and a <code>DataFrame</code> is returned</span>

## Problem 4

Write a line of `pandas` code that creates a filtered `DataFrame` named `filtered_parties`
from the elections dataset and keeps only the parties that have at least one election %
more than 50%.

*Answer*:

In [12]:
filtered_parties = elections.groupby("Party").filter(lambda sf: sf["%"].max() >= 50)
filtered_parties

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
7,1836,Hugh Lawson White,Whig,146109,loss,10.005985
...,...,...,...,...,...,...
171,2012,Mitt Romney,Republican,60933504,loss,47.384076
173,2016,Donald Trump,Republican,62984828,win,46.407862
176,2016,Hillary Clinton,Democratic,65853514,loss,48.521539
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542

<span style="color:blue">
Staff Notes: Remember to iterate the differences between filter and agg. Filter does
NOT change the final granularity of the DataFrame that is returned. The index will
not be the groups like in groupby + agg. Walking through the way that filter is similar
in application to groupby (the applying of a function) and contrasting it with the ways
that are different (filter functions needing to return a boolean) can be really helpful to
disentangle the nuance between all these different functions.</span>

## Problem 5

Write a line of `pandas` code that uses the `filtered_parties` `DataFrame` to return a new
`DataFrame` with row indices that correspond to the year and columns that correspond
to each party. Each entry should be the total percentage of votes for all the candidates
that ran during that particular year for the specified party. Missing values from the dataset (the cases where a party did not have a candidate in a particular year) should be entered as 0. Below is an example.

![](pivot.png)

In [13]:
elections_pivot = filtered_parties.pivot_table(
    index="Year",
    columns="Party",
    values=["%"],
    aggfunc=np.sum,
    fill_value = 0
)
elections_pivot

               %
Party Democratic Democratic-Republican National Union Republican       Whig
Year
1824    0.000000                   100       0.000000   0.000000   0.000000
1828   56.203927                     0       0.000000   0.000000   0.000000
1832   54.574789                     0       0.000000   0.000000   0.000000
1836   52.272472                     0       0.000000   0.000000  47.727528
1840   46.948787                     0       0.000000   0.000000  53.051213
1844   50.749477                     0       0.000000   0.000000  49.250523
1848   42.552229                     0       0.000000   0.000000  47.309296
1852   51.013168                     0       0.000000   0.000000  44.056548
1856   45.306080                     0       0.000000  33.139919   0.000000
1860    0.000000                     0       0.000000  39.699408   0.000000
1864   45.048488                     0      54.951512   0.000000   0.000000
1868   47.334695                     0       0.000000  52.665305   0.000000
1872    0.000000                     0       0.000000  55.928594   0.000000
1876   51.528376                     0       0.000000  48.471624   0.000000
1880   48.278422                     0       0.000000  48.369234   0.000000
1884   48.884933                     0       0.000000  48.312208   0.000000
1888   48.656799                     0       0.000000  47.858041   0.000000
1892   46.121393                     0       0.000000  42.984101   0.000000
1896   46.871053                     0       0.000000  51.213817   0.000000
1900   46.130540                     0       0.000000  52.342640   0.000000
1904   37.685116                     0       0.000000  56.562787   0.000000
1908   43.414640                     0       0.000000  52.013300   0.000000
1912   41.933422                     0       0.000000  23.218466   0.000000
1916   49.367987                     0       0.000000  46.240779   0.000000
1920   34.293063                     0       0.000000  60.574501   0.000000
1924   28.976291                     0       0.000000  54.329113   0.000000
1928   40.902853                     0       0.000000  58.368524   0.000000
1932   57.672125                     0       0.000000  39.830594   0.000000
1936   60.978107                     0       0.000000  36.648285   0.000000
1940   54.871202                     0       0.000000  44.894561   0.000000
1944   53.773801                     0       0.000000  46.226199   0.000000
1948   49.601536                     0       0.000000  45.112958   0.000000
1952   44.446312                     0       0.000000  55.325173   0.000000
1956   42.174464                     0       0.000000  57.650654   0.000000
1960   50.082561                     0       0.000000  49.917439   0.000000
1964   61.344703                     0       0.000000  38.655297   0.000000
1968   42.863537                     0       0.000000  43.565246   0.000000
1972   37.670670                     0       0.000000  60.907806   0.000000
1976   50.271900                     0       0.000000  48.199499   0.000000
1980   41.132848                     0       0.000000  50.897944   0.000000
1984   40.729429                     0       0.000000  59.023326   0.000000
1988   45.770691                     0       0.000000  53.518845   0.000000
1992   43.118485                     0       0.000000  37.544784   0.000000
1996   49.296938                     0       0.000000  40.766036   0.000000
2000   48.491813                     0       0.000000  47.974666   0.000000
2004   48.306775                     0       0.000000  50.771824   0.000000
2008   53.023510                     0       0.000000  45.737243   0.000000
2012   51.258484                     0       0.000000  47.384076   0.000000
2016   48.521539                     0       0.000000  46.407862   0.000000
2020   51.311515                     0       0.000000  46.858542   0.000000

<span style="color:blue">
Staff Notes: It is not obvious at first that this is meant to be a pivot table call. Make sure
to emphasize the utility that pivot has to give us an alternative view of data. By default,
the years and party combos are not the original granularity of the data. <code>groupbys</code> AND
<code>pivots</code> help by changing granularities. Also, if desired you can tie it back to <code>groupby</code>s
by seeing if students can create the same outputs using a 2-key groupby.
</span>